*{
box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
}
html,
body {
    height: 100%;
    width: 100%;
}

img {
    min-width: 100vh;
}


.wrapper{
    height: 100%;
    width: 100%;

    position: relative

}
.bg{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main__btn{
    width: 1200px;
    height: 200px;
}

.arr_main_btn{
 
   font-size: 73px;
   padding-top: 50px;
}
.main__history__block{
height: 100%;
width: 100%;
}
.history__block__text{
    display: none;
}
.history__block__text.active {
    display: block;
    background-color: white;
    height: 90%;
    width: 90%;
    border-radius: 15px;
}

.btn:hover {
    background-color: rgb(255, 220, 154);
}

.btn{
    width: 72px;
    height: 52px;
background-color: rgb(255, 208, 119);

border: solid 1px black;
}

.main{
    width: 1200px;
    height: 500px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 45px;
}

.main__text{
   font-size: 50px;

}